<div class="top-header">
    <div class="inviso-div"></div>
    <div class="title"><span>Recipe</span>ReviewCorner</div>
    <div class="registration-links">
        <a routerLink="/login">
            <div class="login-link">
                LOG IN
            </div>
        </a>
        <a routerLink="/sign-up">
            <div class="signup-link">
                SIGN UP
            </div>
        </a>
    </div>
</div>

<div class="bottom-header">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="nav-link">
            Home
        </div>
    </a>
    <a routerLink="/blogs" routerLinkActive="active">
        <div class="nav-link">
            Blogs
        </div>
    </a>
    <div class="nav-link">
        Post
    </div>
</div>
