<div class="top-header">
    <div class="inviso-div"></div>
    <div class="title"><span>Recipe</span>ReviewCorner</div>
    <div class="registration-links">
        <div class="login-link">
            LOG IN
        </div>
        <div class="signup-link">
            SIGN UP
        </div>
    </div>
</div>

<div class="bottom-header">
    <div class="nav-link">
        Home
    </div>
    <div class="nav-link">
        Blogs
    </div>
    <div class="nav-link">
        Post
    </div>
</div>
