<div class="blog-page">
    <div class="blog-page-heading">
        <div class="inviso-div"></div>
        <div class="title">Our Blogs</div>
        <div class="sort-bar">
            <label for="categories">Category:</label>
            <select name="categories" id="categories">
                <option value="all">All</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
            </select>
            <!-- <p-dropdown 
                [options]="categories"
                [(ngModel)]="selectedCategory" 
                optionLabel="name" 
                placeholder="Select a Category" 
            /> -->
        </div>
    </div>
    <div class="blogs">
        <div class="blog-card">
            <div class="blog-image">
                <img src="/assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg" alt="Dummy blog image">
            </div>
            <div class="blog-text">
                <div class="blog-category">
                    Lunch
                </div>
                <div class="rating">
                    <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true" class="custom-rate"/>
                </div>
                <div class="blog-title">
                    Dummy Blog Title
                </div>
                <div class="blog-author">
                    by Dummy Author
                </div>
                <div class="blog-time">
                    Posted on: dd/mm/yyyy
                </div>
            </div>
        </div>

        <div class="blog-card">
            <div class="blog-image">
                <img src="/assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg" alt="Dummy blog image">
            </div>
            <div class="blog-text">
                <div class="blog-category">
                    Lunch
                </div>
                <div class="rating">
                    <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"/>
                </div>
                <div class="blog-title">
                    Creamy Chicken Carbonara by AllRecipes
                </div>
                <div class="blog-author">
                   review by: Dummy Author
                </div>
                <div class="blog-time">
                    Posted on: dd/mm/yyyy
                </div>
            </div>
        </div>

        <div class="blog-card">
            <div class="blog-image">
                <img src="/assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg" alt="Dummy blog image">
            </div>
            <div class="blog-text">
                <div class="blog-category">
                    Lunch
                </div>
                <div class="rating">
                    <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"/>
                </div>
                <div class="blog-title">
                    Dummy Blog Title
                </div>
                <div class="blog-author">
                    by Dummy Author
                </div>
                <div class="blog-time">
                    Posted on: dd/mm/yyyy
                </div>
            </div>
        </div>

        <div class="blog-card">
            <div class="blog-image">
                <img src="/assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg" alt="Dummy blog image">
            </div>
            <div class="blog-text">
                <div class="blog-category">
                    Lunch
                </div>
                <div class="rating">
                    <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"/>
                </div>
                <div class="blog-title">
                    Dummy Blog Title
                </div>
                <div class="blog-author">
                    by Dummy Author
                </div>
                <div class="blog-time">
                    Posted on: dd/mm/yyyy
                </div>
            </div>
        </div>

        <div class="blog-card">
            <div class="blog-image">
                <img src="/assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg" alt="Dummy blog image">
            </div>
            <div class="blog-text">
                <div class="blog-category">
                    Lunch
                </div>
                <div class="rating">
                    <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"/>
                </div>
                <div class="blog-title">
                    Dummy Blog Title
                </div>
                <div class="blog-author">
                    by Dummy Author
                </div>
                <div class="blog-time">
                    Posted on: dd/mm/yyyy
                </div>
            </div>
        </div>

        <div class="blog-card">
            <div class="blog-image">
                <img src="/assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg" alt="Dummy blog image">
            </div>
            <div class="blog-text">
                <div class="blog-category">
                    Lunch
                </div>
                <div class="rating">
                    <p-rating [(ngModel)]="value" [cancel]="false" [readonly]="true"/>
                </div>
                <div class="blog-title">
                    Dummy Blog Title
                </div>
                <div class="blog-author">
                    by Dummy Author
                </div>
                <div class="blog-time">
                    Posted on: dd/mm/yyyy
                </div>
            </div>
        </div>
    </div>
</div>
