<div class="post-page">

    <div class="not-logged-in" *ngIf="token.length === 0">
        <div class="card">
            <div class="card-title">
                You need to be logged in to post a blog.
            </div>
            <div class="card-text">
                <a routerLink="/login">Log in</a> or <a routerLink="/sign-up">Sign up</a> to post.
            </div>
        </div>
    </div>

    <div class="post-container" *ngIf="token.length > 0">
        <div class="title">
            Create a New Post
        </div>
        <div class="post-title">
            <input type="text" placeholder="Review Title" [(ngModel)]="title" />
        </div>
        <div class="post-rating">
            Rating:
            <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="false"/>
        </div>
        <div class="post-category">
            <label for="categories">Category:</label>
            <select name="categories" id="categories" [(ngModel)]="category">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
            </select>
        </div>
        <div class="post-image">
            Image:
            <input type="file" accept="image/*" (change)="onFileSelected($event)"/>
        </div>
        <div class="recipe-link">
            <input type="text" placeholder="Link to recipe" [(ngModel)]="recipeLink"/>
        </div>
        <div class="post-content">
            <textarea placeholder="Write your review here" [(ngModel)]="content"></textarea>
        </div>
        <div class="submit-post" (click)="post()">
            SUBMIT
        </div>
    </div>
</div>
