<div class="darkBG"></div>
<div class="centered">
    <div class="confirmationDialog">
        <div class="close" (click)="onCancel()">
            <i class="pi pi-times"></i>
        </div>
        <h1>{{message}}</h1>
        <textarea name="newContent" id="newContent">{{content}}</textarea>
        <div class="confirmationButtons">
            <div class="accept" (click)="onConfirm()">Edit</div>
            <div class="cancel" (click)="onCancel()">Cancel</div>
        </div>
    </div>
</div>
