$secondary-background-color: #E7DECD;
$highlight-color: #EF798A;

.blog-page{
    background-color: $secondary-background-color;
    height: fit-content;
    padding-top: 50px;
    border: 1px solid $secondary-background-color;

    .blog-container{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;

        .posted-date{
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.5);
            margin-top: 20px;
            text-align: center;
        }

        .blog-title{
            font-size: 2rem;
            font-weight: 600;
            margin-top: 5px;
        }

        .blog-author{
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.5);
            margin-top: 5px;
            text-align: center;
        }

        .category-rating{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            width: 55%;

            .category{
                font-size: 1.2rem;
                color: rgba(0, 0, 0, 0.5);
                text-transform: capitalize;
            }
        }

        .blog-image{
            width: 70%;
            margin-top: 10px;

            img{
                width: 100%;
            }
        }

        .recipe-link{
            margin-top: 5px;

            a{
                color: $highlight-color;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: $highlight-color;
                    visibility: hidden;
                    transition: width 0.3s ease;
                }

                &:hover{
                    &::before{
                        visibility: visible;
                        width: 100%;
                    }
                }
            }
        }

        .blog-content{
            width: 55%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.7);
            text-align: justify;
        }

        .edit-delete{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            hr{
                width: 55%;
                color: rgba(0, 0, 0, 0.473);
                margin-bottom: 10px;
            }

            .buttons{
                display: flex;
                width: 55%;
                font-size: .9rem;

                .edit-button{
                    cursor: pointer;
                    margin-right: 10px;
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: black;
                        visibility: hidden;
                        transition: width 0.3s ease;
                    }

                    &:hover{
                        &::before{
                            visibility: visible;
                            width: 100%;
                        }
                    }
                }

                .delete-button{
                    cursor: pointer;
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: red;
                        visibility: hidden;
                        transition: width 0.3s ease;
                    }

                    &:hover{
                        color: red;

                        &::before{
                            visibility: visible;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .comments-container{
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .title{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 20px;
            width: 55%;
        }

        .new-comment{
            width: 55%;
            border: 2px solid black;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:focus-within{
                border: 2px solid $highlight-color;
            }

            textarea{
                width: 95%;
                padding-top: 10px;
                font-size: 1.2rem;
                font-family: "Quicksand", sans-serif;
                border: none;
                outline: none;
                resize: none;
            }

            hr{
                width: 95%;
                color: rgba(0, 0, 0, 0.473);
                margin-bottom: 10px;
            }

            .submit-comment{
                width: 95%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;

                .submit-button{
                    padding: 5px 10px;
                    border: 2px solid $highlight-color;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover{
                        background-color: $highlight-color;
                        color: white;
                    }
                }
            }
        }

        .user_comments{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            align-items: center;

            .comment{
                width: 55%;
                margin-top: 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.473);
                padding-bottom: 10px;
    
                .comment-author{
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                    font-weight: 600;
                }
    
                .comment-content{
                    color: rgba(0, 0, 0, 0.7);
                    margin-bottom: 5px;
                }
    
                .comment-footer{
                    display: flex;
    
                    .comment-buttons{
                        display: flex;
                        margin-right: 10px;
                        font-size: .9rem;
    
                        .edit-button{
                            cursor: pointer;
                            margin-right: 10px;
                            position: relative;
    
                            &::before{
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background-color: black;
                                visibility: hidden;
                                transition: width 0.3s ease;
                            }
    
                            &:hover{
                                &::before{
                                    visibility: visible;
                                    width: 100%;
                                }
                            }
                        }
    
                        .delete-button{
                            cursor: pointer;
                            position: relative;
    
                            &::before{
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background-color: red;
                                visibility: hidden;
                                transition: width 0.3s ease;
                            }
    
                            &:hover{
                                color: red;
    
                                &::before{
                                    visibility: visible;
                                    width: 100%;
                                }
                            }
                        }
                    }
    
                    .comment-time{
                        color: rgba(0, 0, 0, 0.473);
                        border-left: 1px solid rgba(0, 0, 0, 0.473);
                        padding-left: 5px;
                    }
                }
            }
        }
        
    }
}