<div class="blog-page">
    <div class="blog-container">
        <div class="title-content">
            <div class="posted-date">
                Posted on: {{timestamp | date: 'dd/MM/yyyy'}}
            </div>
            <div class="blog-title">
                {{title}}
            </div>
            <div class="blog-author">
                Review by: {{author}}
            </div>
        </div>

        <div class="category-rating">
            <div class="category">
                {{category}}
            </div>
            <div class="rating">
                <p-rating [(ngModel)]="rating" [cancel]="false" [readonly]="true"/>
            </div>
        </div>

        <div class="blog-image">
            <img src="http://res.cloudinary.com/dlctj1zzp/{{imageUrl}}" alt="{{title}}">
        </div>

        <div class="recipe-link">
            View this recipe at: <a href="{{link}}">{{link}}</a>
        </div>

        <div class="blog-content">
            {{content}}
        </div>
        
        <div class="edit-delete">
            <hr>
            <div class="buttons">
                <div class="edit-button" (click)="confirmEditAction()">
                    Edit
                    <i class="pi pi-pencil" style="font-size: .7rem"></i>
                </div>
                <div class="delete-button" (click)="confirmAction()">
                    Delete
                    <i class="pi pi-trash" style="font-size: .7rem"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-container">
        <div class="title">
            Comments
        </div>
        <div class="new-comment">
            <textarea placeholder="Write a comment" [(ngModel)]="commentContent"></textarea>
            <hr>
            <div class="submit-comment">
                <div class="submit-button" (click)="postComment()">
                    Submit
                </div>
            </div>
        </div>

        <div class="user_comments">
            <div class="comment" *ngFor="let comment of comments">
                <div class="comment-author">{{comment.author_username}}</div>
                <div class="comment-content">{{comment.content}}</div>
                <div class="comment-footer">
                    <div class="comment-buttons">
                        <div class="edit-button" (click)="confirmEditCommentAction(comment.id, comment.content, comment.blog_id)">
                            Edit
                            <i class="pi pi-pencil" style="font-size: .7rem"></i>
                        </div>
                        <div class="delete-button" (click)="confirmDeleteCommentAction(comment.id)">
                            Delete
                            <i class="pi pi-trash" style="font-size: .7rem"></i>
                        </div>
                    </div>
                    <div class="comment-time">Posted on: {{comment.timestamp | date: 'dd/MM/yyyy HH:mm' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirmation-dialog *ngIf="showDialog" [message]="'Are you sure you want to delete this?'" (accept)="onDialogAccept()" (cancel)="onDialogCancel()"></app-confirmation-dialog>
<app-edit-modal *ngIf="showEditDialog" [message]="'Edit'" [content]="content" (accept)="onEditAccept($event)" (cancel)="onEditCancel()"></app-edit-modal>
<app-confirm-delete-comment *ngIf="showDeleteCommentDialog" [message]="'Are you sure you want to delete this?'" (accept)="onDeleteCommentAccept()" (cancel)="onDeleteCommentCancel()"></app-confirm-delete-comment>
<app-edit-comment-modal *ngIf="showEditCommentDialog" [message]="'Edit'" [content]="individualCommentContent" (accept)="onEditCommentAccept($event)" (cancel)="onEditCommentCancel()"></app-edit-comment-modal>

