<div class="registrationPage">
    <div class="sign-up-container">
        <div class="image"></div>
        <div class="sign-up-form-area">
            <div class="sign-up-form-card">
                <div class="welcome">
                    Get Started
                </div>
                <div class="already-account">
                    Already have an account? <a routerLink="/login">Log in</a>
                </div>
                <div class="username">
                    <input type="text" placeholder="Username" [(ngModel)]="username" />
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" [(ngModel)]="password" />
                </div>
                <div class="confirm-password">
                    <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" />
                </div>
                <div class="password-error" *ngIf="passwordsError">
                    Passwords do not match.
                </div>
                <div class="sign-up-error" *ngIf="signupError">
                    Please fill in all fields.
                </div>
                <div class="sign-up-button" (click)="signUp(username, password)">
                    Sign Up
                </div>
            </div>
        </div>
    </div>
</div>

