/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "primeng/resources/themes/luna-pink/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$highlight-color: #EF798A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
}

body .ui-rating .ui-rating-star-on a {
    color: yellow;
}

a{
    text-decoration: none;
    color: inherit;
}
